<!DOCTYPE hibernate-configuration PUBLIC " -//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
		<session-factory>
			
			<!-- Enable Hibernate's automatic session context management -->
        	<property name="current_session_context_class">thread</property>

			<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
			<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
			<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/judlaw</property>
			<property name="hibernate.connection.username">postgres</property>
			<property name="hibernate.connection.password">adminadmin</property>
        
			<!-- Drop and re-create the database schema on startup -->
         	<property name="hbm2ddl.auto">create</property>
         	<property name="hbm2ddl.auto">update</property>
			
			<!-- Mapeamento das classes -->
			
			<!-- Pacote ref -->
			<mapping class="judlaw.model.bean.ref.Alteracao"/>
			<mapping class="judlaw.model.bean.ref.CitacaoDocJud"/>
			<mapping class="judlaw.model.bean.ref.CitacaoDocLeg"/>
			
			<!-- Pacote docjud -->
			<mapping class="judlaw.model.bean.docjud.Cabecalho"/>
			<mapping class="judlaw.model.bean.docjud.DocumentoJuridico"/>
			<mapping class="judlaw.model.bean.docjud.Ementa"/>
			<mapping class="judlaw.model.bean.docjud.Relatorio"/>
			<mapping class="judlaw.model.bean.docjud.Encerramento"/>
			<mapping class="judlaw.model.bean.docjud.Voto"/>
			<mapping class="judlaw.model.bean.docjud.Parte"/>
			
			<!-- Pacote lei -->
			<mapping class="judlaw.model.bean.lei.ElementoNorma"/>
			<mapping class="judlaw.model.bean.lei.Norma"/>
			
		</session-factory>
  </hibernate-configuration> 